*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: #0A0A0A;
    color: #EBEBEB;
    font-family: "Poppins";
}
html {
  scroll-behavior: smooth;
}

.hero {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 4vw;
    overflow: hidden;
}

.degrade {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    object-fit: cover;
    will-change: transform;
}
.degrade1 {
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    left: 0;
    top: 0;
    object-fit: cover;
}
    .hero:before {
        content:"";
        width: 100%;
        height: 100vh;
        position: absolute;
        z-index: 2;
       left: 0;
        top: 0;
        
    background: linear-gradient(
  to bottom,
  rgba(0, 0, 0, 0) 0%,
  rgba(0, 0, 0, 0.6) 60%,
  rgba(0, 0, 0, 1) 100%
)
    }
    
    
 
 
header {
position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 16vh;
  z-index: 10;

  .logo {
    height: 8vh;
    display: flex;
    padding-left: 4vw;
  }
  .port {
    padding-top: 10%;
  }





.section {
  min-height: 100vh;
  padding: 140px 60px 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  }
}

 .menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: center;
  gap: 40px;
  z-index: 9999;
 }

 .menu-link {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

button {
    background-color: transparent;
    color: #EBEBEB;
    font-size: 20px;
    gap: 12px;
    border: none;
    outline: none;
    border: 1px;
    font-family: "Poppins", sans-serif;
}

        .h2s {
            
            padding-left: 4vw;
            padding-top: 10vh
        }
        .sobre{
            background-image: url(imagens/222.png);
            background-position: 50% 100%;
            background-size: cover;
            width: 100vw;
            height: 100vh;
            
            }
        
            .textsobre {
               
                display: flex;
                align-items: center;
                width: 100vw;
                height: 50vh;
                justify-content: space-between;
                
                
            }
                .Minhafoto {
                          width: 30vw;
                          height: 50vh;
                          display: flex;
                          margin-right: 4v;

                          opacity: 0;         
                          transform: translateY(100px); 
                          filter: blur(10px);  
                        }


                .texto-sobre {
                    width: 60%;
                    padding-left: 4vw ;
                    font-size: 20px;
                  
                }
                .cards {
            
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    height: 20vh;
                    width: 100%;
                    position: absolute;
                    padding-top: 15vh;
                    padding-right: 20vw;
                    padding-left: 20vw;
                }

                    .bolinha0 {
                    
                        border: 3px solid rgb(255, 255, 255);
                        
                        border-radius: 100px;
                        width: 6vw;
                        height: 8vh;
                        display: flex;
                        align-items: center;
                        padding-left: 33px;
                        
                        
                    }
                    .bolinha1 {
                        border: 3px solid rgb(255, 255, 255);
                       
                        border-radius: 100px;
                        width: 6vw;
                        height: 8vh;
                        display: flex;
                        align-items: center;
                        padding-left: 35px
                    }
                    .bolinha2 {
                        border: 3px solid rgb(255, 255, 255);
                      
                        border-radius: 100px;
                        width:9vw;
                        height: 8vh;
                        display: flex;
                        align-items: center;
                        padding-left: 30px
                    }
                    .bolinha3 {
                        border: 3px solid rgb(255, 255, 255);
                        
                        border-radius: 100px;
                        width:10vw;
                        height: 8vh;
                        display: flex;
                        align-items: center;
                        padding-left: 35px
                    }
                    .bolinha4 {
                        border: 3px solid rgb(255, 255, 255);
                        border-radius: 100px;
                        width:8vw;
                        height: 8vh;
                        display: flex;
                        align-items: center;
                        padding-left: 33px
                    }
                    .bolinha5 {
                        border: 3px solid rgb(255, 255, 255);
                
                        border-radius: 100px;
                        width:10vw;
                        height: 8vh;
                        display: flex;
                        align-items: center;
                        padding-left: 30px
                    }
.skills {

  width: 100%;
  padding: 120px 10%;
  background-image: url("imagens/33.png");
  background-size: cover;        
  background-position: center;  
  background-repeat: no-repeat;  
  background-attachment: scroll; 
  box-sizing: border-box;
  
}

#skills {
  position: relative;
  overflow: visible; 
}

#projetos {
  position: relative;
  
}

#projetos h2,
#projetos p {
  position: relative;
  z-index: 3;
}

.skills h2 {
  font-size: 28px;
  margin-bottom: 20px;
  padding-left: 13%;
}

.skill-software {
  margin-bottom: 60px;

}

.aplica {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  padding-left: 4%;
  
}

.aplica img {
  width: 70px;
}
.hard,
.soft {
  position: relative;
  margin-bottom: 60px;
}

.hardtext,
.softtext {
  list-style: none;
  padding: 0;
  line-height: 1.8;
  font-size: 18px;
  text-align: center;
  width: 38%;
}

.orb {
  position: absolute;
  pointer-events: none;
  z-index: 0;
  opacity: 0.9;
}

.orb-big {
  width: 300px;
  top: -100px;
  right: 5%;
}

.orb-small {
  width: 160px;
  bottom: 70px;
  right: 1%;
}
 .orb-medium {
    width: 220px;
    top: 150px;
    right: 20%;
    transform: translateX(50%);
    z-index: 2;
  }

                    .softskill {
                        
                        width: 40vw;
                        height: 18vh;
                        padding-left: 5%;
                        padding-top: 2vh;
                        list-style-type: none;
                        align-items: center;
                        .um {
                            padding-left: 34%;
                        }
                        .dois {
                            padding-left: 33%;
                        }
                        .tres {
                            padding-left: 39%;
                        }                           
                        .quatro {
                            padding-left: 41%;
                        }
                        
                    }

                   .projetos {
              background-image: url(imagens/4.png);
              background-position: center bottom;
              background-size: cover;
              padding: 120px 5%;
              background:
                linear-gradient(
                  to bottom,
                  #0a0a0a 0%,
                  #050505 60%,
                  #000000 100%
                );
            }

            .projeto {
              margin-bottom: 40px;
              
            }
            .projeto::before {
                            content: "";
                            position: absolute;
                            inset: 0;
                            background: rgba(0, 0, 0, 0.6); 
                            z-index: 1;
                          }
  #projetos {
  perspective: 1200px;
}

.container-projetos {
  display: grid;
  grid-template-columns: 1.1fr 1fr;
  align-items: center;
  gap: 60px;
  max-width: 1200px;
  margin: 0 auto;
}
.titu {
padding-bottom: 90px;
z-index: 11;
}
.textproj {
  max-width: 800px;
  width: 100%;
  z-index: 11;
}
.imagens-celular {
  display: grid;
  grid-template-columns: repeat(2, auto);
  justify-content: center;
  gap: 40px 60px;
}

.imagens-celular img {
  height: 300px;
  position: relative;
  will-change: transform, opacity, filter;
}

.sumup {
  grid-column: 1 / -1;
  justify-self: center;
}
     .cursos {
  position: relative;
  padding: 120px 5%;
  background:
    linear-gradient(
      to bottom,
      rgba(0,0,0,0.85) 0%,
      rgba(0,0,0,0.5) 15%,
      rgba(0,0,0,0.1) 35%,
      rgba(0,0,0,0) 50%,
      rgba(0,0,0,0.1) 65%,
      rgba(0,0,0,0.5) 85%,
      rgba(0,0,0,0.85) 100%
    )
}
.bg-video {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  object-fit: cover;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0) 30%,
    rgba(0, 0, 0, 0) 70%,
    rgba(0, 0, 0, 0.9) 100%
  );
  z-index: 1;
}

.conteudo-cursos {
  position: relative;
  z-index: 2;
}

               .titucurso {
                        margin-bottom: 60px;
                        z-index: 10;
                      }

               .curso-item {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        gap: 40px;
                        margin-bottom: 50px;
                        max-width: 1100px;
                        z-index: 2;
                        
                      }

               .curso-texto h3 {
                        margin-bottom: 10px;
                        z-index: 12;
                      }

                      .curso-item img {
                        height: 70px;
                        object-fit: contain;
                      }

                         .contato {
                              position: relative;
                              padding: 120px 5%;
                              background-position: center;
                              background-size: cover;
                             background: linear-gradient(
                            to bottom,
                            rgba(0, 0, 0, 1) 0%,
                            rgba(0, 0, 0, 0) 30%,
                            rgba(0, 0, 0, 0) 70%,
                            rgba(0, 0, 0, 1) 100%
                          );
                        }

                            .fundin {
                              position: absolute;
                              top: 50%;
                              left: 50%;
                              width: 100%;
                              height: 100%;
                              object-fit: cover;
                              transform: translate(-50%, -50%);
                              z-index: -1;
                              opacity: 0.2;
                              filter: blur(10px);
                              .contato {
                                position: relative;
                                padding: 120px 5%;
                            }
                          }

                           .NK {
                              display: flex;
                              align-items: center;
                              justify-content: space-between;
                              margin-bottom: 80px;
                            }

                            .NKK {
                              width: 80px;
                              
                            }

                            .NIkolas {
                              font-size: 20px;
                            }

                            
                          .container {
                            display: grid;
                            grid-template-columns: repeat(2, 1fr);
                            gap: 40px 60px;
                            max-width: 1000px;
                            margin: 0 auto;
                          }
   
                            .glass-btn {
                            display: flex;
                            align-items: center;
                            gap: 18px;
                            padding: 18px 32px;
                            border-radius: 50px;
                            background: rgba(255, 255, 255, 0.08);
                            backdrop-filter: blur(2px) saturate(150%);
                            -webkit-backdrop-filter: blur(25px) saturate(150%);
                            border: 1px solid rgba(255, 255, 255, 0.2);
                            box-shadow:
                              0 8px 30px rgba(0, 0, 0, 0.4),
                              inset 0 1px 0 rgba(255, 255, 255, 0.25);
                            color: #e5e5e5;
                            font-size: 18px;
                            font-weight: 600;
                            text-decoration: none;
                            transition: all 0.3s ease;
                          }

                          .glass-btn:hover {
                            transform: translateY(-10px);
                            box-shadow:
                              0 15px 40px rgba(0, 0, 0, 0.6),
                              inset 0 1px 0 rgba(255, 255, 255, 0.3);
                          }

                         
                          .whatsapp span,
                          .linkedin span,
                          .behance span {
                            font-size: clamp(24px, 1.5vw, 24px);
                          }
                       
     @keyframes textoinfinito {
      100% {
          transform: translateX (-100%)
      }
     }               

     @media (max-width: 768px) {
    .menu {
        display: none !important;
    }

    .header {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 0;
    }

    .logo {
     width: 100%;
    height: auto;
    display: flex;
    opacity: 0.9;
    justify-content: center;
    margin-top: 2vh;
    

    }

.portheader {
    position: relative;
    height: 100vh; 
  }

  .port {
    position: absolute;
    bottom: 10px; 
    left: 40%;
    transform: translateX(-50%);
    width: 150px;
    height: 200px;
    display: flex;   
  }
}
  @media (max-width: 1200px) {

  .sobre {
    height: auto;
    padding-bottom: 80px;
  }

  .h2s {
    padding-top: 60px;
    padding-left: 40%;
  }

  .textsobre {
    flex-direction: column;
    height: auto;
    gap: 32px;
    padding-top: 40px;
    text-align: justify;
  }

  .texto {
    width: 100%;
    font-size: 16px;
    text-align: center;
    padding-left: 6vw;
  }

  .Minhafoto {
    width: 70%;
    height: auto;
    justify-content: center;
  }

  .Minhafoto img {
    width: 100%;
    height: auto;
    border-radius: 24px;
  }

  .cards {
    position: static;
    margin-top: 40px;
    padding: 0 6vw;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 18px;
  }

  .cards > div {
    width: 100%;
    height: 44px;
    justify-content: center;
    padding-left: 0;
    font-size: 14px;
  }
}



@media (max-width: 768px) {

  .skills {
    position: relative;
    overflow: hidden;
    padding: 80px 20px;
    text-align: center;
  }

  .skills h2 {
    padding-left: 0;
    font-size: 26px;
    margin-bottom: 20px;
  }


  .skill-software {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    position: relative;
    z-index: 2;
  }

  .aplica {
    display: flex;
    justify-content: center;
    gap: 15px;
    flex-wrap: wrap;
    padding-left: 0;
  }

  .aplica img {
    width: 55px;
  }

 
  .hard,
  .soft {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 60px;
    z-index: 2;
  }

  .hardtext,
  .softtext {
    width: 100%;
    font-size: 17px;
    line-height: 1.8;
    text-align: center;
  }

  .orb {
    opacity: 0.5; 
  }

  .orb-big {
    width: 300px;
    top: -40px;
    right: -40px; 
    z-index: -1;
  }

  .orb-medium {
    width: 220px;
    top: 150px;
    right: 20%;
    transform: translateX(50%);
    z-index: -1;
  }

  .orb-small {
    width: 180px;
    bottom: 10px;
    right: 270px;
    z-index: -1;
  }

  
}
@media (max-width: 1024px) {

  .container-projetos {
    grid-template-columns: 1fr;
    text-align: center;
    gap: 40px;
  }

  .textproj {
    margin: 0 auto;
  }

  .imagens-celular {
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}
@media (max-width: 760px) {

  .imagens-celular {
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-content: center; 
    gap: 30px 30px;
  }

  .sumup {
    grid-column: 1 / -1;
    justify-self: center; 
  }

} .cuide,
  .itau,
  .sumup {
    max-width: 200px;
  }



@media (max-width: 900px) {

  .container {
    grid-template-columns: 1fr;
    gap: 30px;
  }

  .NK {
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }

  .NKK {
    width: 100px;
  }

  .NIkolas {
    font-size: 22px;
  }

  .glass-btn {
    justify-content: left;
  }
  .glass-btn img {
  width: 70px;
  height: 70px;
  }
}


